/* Estilos generales del footer */
.site-footer {
  background-color: #333;
  padding: 45px 0 20px;
  color: #fff;
  margin: 0%;
}

.site-footer hr {
  border-top: 1px solid #bbb;
  opacity: 0.5;
}

/* Estilos para el contenedor del footer */
.container {
  width: 90%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

/* Estilos para las filas y columnas (Flexbox) */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6, .col-md-3, .col-md-4 {
  flex: 0 0 50%;
  padding: 15px;
}

@media (max-width: 992px) {
  .col-md-6, .col-md-3, .col-md-4 {
      flex: 0 0 100%;
  }
}

/* Estilos para los encabezados (h6) */
.site-footer h6 {
  font-size: 18px;
  margin-top: 0;
  letter-spacing: 1px;
}

/* Estilos para los enlaces */
.site-footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-footer a:hover {
  color: #ccc
}

.col-md-6 {
  width: 50%;
}
